header{text-align: center; padding-top: 50px;}
h1{font-size: 50px;font-family: Advent Pro;}
.big{font-size: 30px}
p{font-size: 1.8rem; font-family: Advent Pro; padding-left: 150px; padding-right: 150px;}
header img{border-radius: 200px; widows: 400px; border: 5px solid #49429b;}
button{font-family: Advent Pro;}
a{text-decoration: none;}
body{text-align: center; margin: 0}
.bg {    background-image: url(../img/new-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    content: '';
    clear: both;
    display: table;
    background-position-x: center;
    background-position-y: bottom;
	height: 100vh;}
b{
	font-family: Advent Pro
	color: #d28f68 ;}
.topnav a{
	color: #e0d2db;
	text-align: right;
	padding: 35px 35px;
	font-family: Advent Pro;
	text-decoration: none;}
.topnav a.active{
	color: #49429b;}
.button{
	border: none;
	font-family: Advent Pro;
	background-color: #1d1b55;
	padding: 15px 30px;
	border-radius: 15px;}
.button button{
	background-color: #1d1b55;}
.bio{}
.experiences{font-family: Advent Pro;}
.footer {
	color: #1d1b55; overflow: hidden; padding-bottom: 2px; padding-top: 15px;}
.footer footer{
	color: lightgrey;
	text-align: left;
	padding: 35px 35px;
	font-family: Oswald, Advent Pro;
	text-decoration: none;
	opacity: 60%;
	font-size: 12px;}
.card-block {
	display: grid;
	grid-template-columns: 1fr;
	width: : 100%; 
	}
.card {
	font-family: Advent Pro;
	background-size: cover;
	background-position: 0px 390px;
	padding: 50px;
	max-width: 100%;
	width: 50%;
	font-size: 1.2rem;
	color: #708d81;
	position: relative;
	}

.card a {
	font-size: 3rem;
	color: lightpink;
	}

	.card a img {
	text-align: center;

	}
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0, 0.5);
	top:0;
	left: 0; 
	}
.btn-img{
	height: 150px;
	width: 522px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
}	
.btn-img img{
	text-align: center;
	height: 500px;
	width: 500px;
	overflow: hidden;
	position: absolute;
	left: 0;
	bottom: -189px;
}

.contact p{
	color: #d28f68; 
	font-size: 28px
}

.home {
	width: 30%;
	display: table;
	clear: both;
	content: '';
	margin-left: 2rem;
	text-align: left;
}

.hero-text {
			font-size: 1.3rem; 
			color: #49429b; 
			padding-left: 0; 
			padding-right: 0;  
			text-align: left;
		}

.home-text p {
	font-size: 1rem;
}

.home-button a {
	 font-size: 1.3rem;
}

.name b {
	font-size: 7rem
	
}


/* Media Queries*/

@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 480px) {
		.bg {
			background-position-x: 80%;
		}

		.home-text p {
			font-size: 2.5rem; 
		}

		.name b {
			font-size: 13rem; 
		}

		.home {
			width: 80%;
			margin-top: 100px;
		}

		.home-button a {
			font-size: 3rem;
		}

		.hero-text {
			font-size: 3rem; 
			margin-top: 30px;
		}

	}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 375px) {
  				.bg {
			background-position-x: 80%;
		}

		.home-text p {
			font-size: 2.5rem; 
		}

		.name b {
			font-size: 12rem; 
		}

		.home {
			width: 80%;
			margin-top: 15px;
		}

		.home-button a {
			font-size: 3rem;
		}

		.hero-text {
			font-size: 3rem; 
			margin-top: 30px;
		}
 }

 @media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) {
		.bg {
			background-position-x: 80%;
		}

		.home-text p {
			font-size: 1.5rem; 
		}

		.name b {
			font-size: 9rem; 
		}

		.home {
			width: 80%;
			margin-top: 15px;
		}

		.home-button a {
			font-size: 1.7rem;
		}

		.hero-text {
			font-size: 2rem; 
			margin-top: 30px;
		}
  }

  @media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) {
  		.bg {
			background-position-x: 80%;
		}

		.home-text p {
			font-size: 2rem; 
		}

		.name b {
			font-size: 9rem; 
		}

		.home {
			width: 80%;
			margin-top: 165px;
		}

		.home-button a {
			font-size: 1.7rem;
		}

		.hero-text {
			font-size: 1.8rem; 
			margin-top: 30px;
		}
  }

  @media only screen 
  and (device-width: 736px) {
  		.bg {
			background-position-x: 80%;
		}

		.home-text p {
			font-size: 2rem; 
		}

		.name b {
			font-size: 9rem; 
		}

		.home {
			width: 80%;
			margin-top: 165px;
		}

		.home-button a {
			font-size: 1.7rem;
		}

		.hero-text {
			font-size: 1.8rem; 
			margin-top: 30px;
		}
  }

  @media only screen 
  	(device-width: 414px) {
  		.bg {
			background-position-x: 80%;
		}

		.home-text p {
			font-size: 2rem; 
		}

		.name b {
			font-size: 9rem; 
		}

		.home {
			width: 80%;
			margin-top: 162px;
		}

		.home-button a {
			font-size: 1.7rem;	
		}

		.hero-text {
			font-size: 1.8rem; 
			margin-top: 30px;
		}
  }

  @media only screen 
  and (min-device-width: 775px) 
  and (max-device-width: 812px) {
  		.bg {
			background-position-x: 80%;
		}

		.home-text p {
			font-size: 1.5rem; 
		}

		.name b {
			font-size: 9rem; 
		}

		.home {
			width: 80%;
			margin-top: 15px;
		}

		.home-button a {
			font-size: 1.7rem;
		}

		.hero-text {
			font-size: 1.8rem; 
			margin-top: 30px;
		}

  }

  @media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) {
  	  		.bg {
			background-position-x: 80%;
		}

		.home-text p {
			font-size: 1.5rem; 
		}

		.name b {
			font-size: 9rem; 
		}

		.home {
			width: 80%;
			margin-top: 15px;
		}

		.home-button a {
			font-size: 1.7rem;
		}

		.hero-text {
			font-size: 1.8rem; 
			margin-top: 30px;
		}
  }

    @media screen 
  and (min-device-width: 1000px) 
  and (max-device-width: 1025px){
  	 	  		.bg {
			background-position-x: 80%;
		}

		.home-text p {
			font-size: 1.5rem; 
		}

		.name b {
			font-size: 9rem; 
		}

		.home {
			width: 80%;
			margin-top: 15px;
		}

		.home-button a {
			font-size: 1.7rem;
		}

		.hero-text {
			font-size: 1.8rem; 
			margin-top: 30px;
		}
  }

     @media screen 
  and (min-device-width: 370px) 
  and (max-device-width: 375px){
  	 	  		.bg {
			background-position-x: 88%;
		}

		.home-text p {
			font-size: 2.5rem; 
		}

		.name b {
			font-size: 10rem; 
		}

		.home {
			width: 80%;
			margin-top: 15px;
		}

		.home-button a {
			font-size: 2.7rem;
		}

		.hero-text {
			font-size: 2.5rem; 
			margin-top: 30px;
		}
  }

